@import "../../scss/mixins.scss";

.buttons-list {
  &__container {
    @include mp-null;
    display: grid;

    list-style-type: none;

    // TODO: Вынести стили ниже в Booking, как и display: grid
    // Не забыть про построчный вывод или по-столбцовый
    &_type_time-ranges {
      grid-template-columns: repeat(auto-fill, minmax(171px, max-content));
      grid-template-rows: repeat(3, min-content);
      grid-auto-flow: column;
      gap: 20px;
    }

    &_type_spots {
      grid-template-columns: repeat(auto-fill, minmax(75px, max-content));
      gap: 20px;
    }

    &_type_meeting-rooms {
      grid-template-columns: minmax(265px, max-content);
      grid-auto-flow: row;
      gap: 17px;
    }
  }
}
