@import "./../../scss/variables.scss";
@import "./../../scss/mixins.scss";

.point {
  max-width: 360px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  border: 2px solid $black;
  background-color: $white;
  overflow: hidden;

  &_own-page {
    border: none;
    border-radius: 0;
  }

  &:hover {
    border-color: $pink;
  }

  &__span {
    font-family: $font-family;
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.37;
  }

  &_large {
    flex-direction: row;
    max-width: 1120px;
    max-height: 460px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__image-container {
    position: relative;
    width: 404px;
    height: 268px;

    &_large {
      width: 455px;
      height: 460px;
    }

    &_own-page {
      width: 740px;
      height: 450px;
      border-radius: 20px;
      overflow: hidden;
    }
  }

  &__image {
    width: 404px;
    height: 268px;
    object-fit: cover;
    object-position: center;

    &_large {
      width: 455px;
      height: 460px;
    }

    &_own-page {
      width: 740px;
      height: 450px;
    }
  }

  &__cost {
    @include mp-null;
    position: absolute;
    padding: 8px 12px;
    top: 20px;
    left: 20px;
    background-color: $white;
    border-radius: 20px;
    font-family: $font-family;
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.37;

    &_own-page {
      top: 40px;
      left: 17px;
    }
  }

  &__rating-container {
    position: absolute;
    bottom: 25px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
    font-family: $font-family;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    gap: 8px;
    background-color: $white;
    border-radius: 20px;

    &_own-page {
      bottom: 7px;
      left: 17px;
    }
  }

  &__rating {
    @include mp-null;
  }

  &__info-buttons {
    display: flex;
    gap: 8px;
    position: absolute;
    top: 40px;
    right: 17px;
    background-color: $white;
    border-radius: 20px;
    padding: 8px 12px;
  }

  &__list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 20px;
  }

  &__title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    @include mp-null;
    font-family: $font-family;
    color: $black;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
  }

  &__subtitle-container {
    padding: 12px 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__subtitle {
    @include mp-null;
    font-family: $font-family;
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.37;
  }

  &__action-button {
    @include mp-null;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3 ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &__about {
    @include mp-null;
    font-family: $font-family;
    color: $black;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.57;
  }

  &__info {
    @include mp-null;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    list-style: none;
    max-width: 285px;

    &_large {
      max-width: 550px;
      gap: 12px;
    }
  }

  &__info-text {
    @include mp-null;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: wrap;
    font-family: $font-family;
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.37;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
  }
}

.z-index-2 {
  z-index: 2;
}

.swiper-pagination-points {
  position: absolute;
  bottom: 15px;
  left: 50%;
  z-index: 10;
  display: flex;
  gap: 6px;

  & .swiper-pagination-bullet {
    background-color: $light-gray;
    width: 9px;
    height: 9px;
    opacity: 1;

    &-active {
      background-color: $dark-gray;
    }
  }
}
