{
  "env": {
    "browser": true,
    "es2021": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    // "airbnb",
    "airbnb/hooks",
    "plugin:storybook/recommended",
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-refresh",
    "react-hooks",
    "@typescript-eslint",
    "import",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-unescaped-entities": "off",
    "react/button-has-type": "off",
    "eslint/no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "off"
  },
  "overrides": [
    {
      "files": ["**/*.stories.*", "src/stories/**/*"],
      "rules": {
        "import/no-anonymous-default-export": "off",
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
