@import "./../../scss/variables.scss";
@import "./../../scss/mixins.scss";

.section-title {
  @include mp-null;
  color: $black;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  font-family: $font-family-accent;
  letter-spacing: 1.2px;

  &_search {
    font-family: $font-family;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
  }

  &_margin-to-subtitle {
    margin-bottom: 20px;
  }

  &_margin-to-block {
    margin-bottom: 32px;
  }

  &_own-page {
    text-transform: capitalize;
  }
  &_profile {
    font-size: 28px;
    line-height: 40px;
    font-weight: 800;
    max-width: 420px;
    text-align: left;
  }
}

@include mobile {
  .section-title {
    font-size: 36px;
    line-height: 44px;
  }
}
