.header{position:-webkit-sticky;position:sticky;top:0;z-index:4;width:100%;display:flex;justify-content:space-between;align-items:center;text-align:center;padding:20px 160px 20px;box-sizing:border-box;font-family:"Onest",Arial,sans-serif;background-color:#fdf8f1}.header__profile{display:flex;gap:20px;align-items:center}.header__profile_img{width:48px;height:48px;border-radius:50%;object-fit:cover}.header__profile_nav{text-decoration:none;display:flex;align-items:center;gap:22px}.header__profile_nav-info{font-size:18px;line-height:22px;font-weight:400;font-style:normal;padding:20px 0;margin:0;box-sizing:border-box;color:#122023}.header__profile_nav-info:hover{color:#fda8dc}.header__profile_nav_active .header__profile_nav-info{border-bottom:2px solid #b0ff1a}@media screen and (max-width: 767px){.header{padding-left:20px;padding-right:20px;padding-bottom:30px}}
.logo_type_footer{fill:#fff}.logo:hover path{fill:#fda8dc;fill-opacity:1;stroke-opacity:0}.logo:active path{fill:#b0ff1a}.logo path{transition:all .2s ease}@media screen and (max-width: 767px){.logo_type_responsive{width:76px;height:15px}}
.navbar {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: end;
}

.navbar__menu {
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  -webkit-user-select: none;
  user-select: none;
}
.navbar__menu_opened {
  width: 100%;
}

.navbar_no-active {
  z-index: 0;
  background: none;
  position: static;
}

.navbar__link {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.navbar__checkbox {
  display: block;
  width: 30px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
  -webkit-touch-callout: none;
}

.navbar__toogle {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  position: relative;
  top: 20px;
  right: 20px;
  background: #122023;
  border-radius: 2px;
  z-index: 1;
  -webkit-transform-origin: 13px 0px;
          transform-origin: 13px 0px;
  transition:
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition:
    transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
  transition:
    transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.navbar__toogle:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.navbar__toogle:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.navbar__checkbox:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(0px, 6px);
          transform: rotate(45deg) translate(0px, 6px);
  background: #232323;
}

.navbar__checkbox:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.navbar__checkbox:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.navbar__list {
  max-width: 430px;
  width: 100%;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: end;
  /* border-radius: 10px; */
  box-sizing: border-box;
  background: #fdf8f1;
  padding: 24px 24px 36px 24px;
  bottom: border-box;
  /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); */
  position: relative;
  top: 14px;
  background: #ededed;
  /* dont touch */
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: none;
          transform: none;
  margin: 0;
  visibility: hidden;
}

.navbar__link-item {
  padding: 10px 0;
  font-size: 22px;
}

.navbar__checkbox:checked ~ ul {
  visibility: visible;
  background: #fdf8f1;
}

.navigation{display:flex;justify-content:space-between;font-family:"Onest",Arial,sans-serif}.navigation__item{display:flex;gap:20px}.navigation__link{font-size:18px;line-height:22px;font-weight:400;font-style:normal;padding:20px 10px;box-sizing:border-box;text-decoration:none;color:#122023}.navigation__link:hover{color:#fda8dc}.navigation__link_active{border-bottom:2px solid #b0ff1a}@media screen and (max-width: 1024px){.navigation__item{flex-direction:column;gap:12px;align-items:end;text-align:end}.navigation__link{padding:12px 0 12px 12px;margin-bottom:12px}}

/*# sourceMappingURL=components-Header-Header-stories.deb09929.chunk.css.map*/