@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.not-found {
  @include flex-box-column-center;
  width: 100%;
  padding: 20px 0 192px;
  background-color: $main-white;

  &__inner {
    @include flex-box-column-center;
    max-width: 550px;
    gap: 40px;
    padding-bottom: 32px;
  }

  &_image {
    width: 550px;
    height: 460px;
    object-fit: cover;
  }

  &__title {
    @include mp-null;
    @include use-font(20px, 30px, 500, normal);
    color: $main-black;
    font-family: $font-family;
    text-transform: uppercase;
  }
}
