@import "./../../scss/variables.scss";
@import "./../../scss/mixins.scss";

.main {
  display: flex;
  flex-direction: column;
  gap: $desktop-gap;
  margin: $main-margin;
}

@include mobile {
  .main {
    margin: $main-margin-mobile;
  }
}
