@import "../../scss/variables.scss";

.navigation {
  display: flex;
  justify-content: space-between;
  font-family: $font-family;
  &__item {
    display: flex;
    gap: 20px;
  }
  &__link {
    padding: 20px 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  &__link_active {
    border-bottom: 2px solid $green;
    color: $green;
  }
}
