@import "../../../scss/variables.scss";

.input {
  width: 360px;
  padding: 18px 12px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid $dark-gray;
  background: $white;
  position: relative;
  z-index: 0;
  // margin-bottom: 34px;
  /* кастомный псевдоэлемент для placeholder */
  &::before {
    content: attr(
      placeholder
    ); // Отображаем текст placeholder в качестве содержимого псевдоэлемента
    color: $gray;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    position: absolute;
    pointer-events: none; // Позволяет щелкать через placeholder
  }
  /* При фокусе убираем placeholder */
  &:focus::before {
    display: none;
  }

  &__error {
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    color: $alert-red;
    min-height: 34px;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: start;
    padding-top: 5px;
  }
}
