@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 160px 20px;
  box-sizing: border-box;
  font-family: $font-family;
  background-color: $main-white;
  &__profile {
    @include flex-box-row;
    align-items: center;
    &-img {
      width: 48px;
      height: 48px;
      // в будущем если будет загружаться картинка, то будет скругление
      border: 50%;
    }
    &_nav {
      text-decoration: none;
      &-info {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        padding: 20px 0;
        margin: 0;
        box-sizing: border-box;
        color: $black;
        &:hover {
          color: $pink;
        }
      }

      &_active {
        border-bottom: 2px solid $green;
      }
    }
  }
}

@include mobile {
  .header {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 31px;
  }
}
