@import "./../../scss/variables.scss";
@import "./../../scss/mixins.scss";

.profile-item {
  box-sizing: border-box;
  width: 455px;
  height: 225px;
  padding: 40px 58px;
  border-radius: 40px;

  background-color: $black;
  border: 2px solid $black;
  font-family: $font-family;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.9;
    .profile-item__title {
      color: $pink;
    }
  }
  &:active {
    background-color: white;
    .profile-item__title,
    .profile-item__link {
      color: $black;
    }
  }

  &__row {
    display: flex;
    gap: 16px;
  }

  &__title {
    align-self: center;
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__link {
    color: $white;
    display: inline-block;
    margin: 32px 0 0;
    padding: 16px 12px;
    font-family: $font-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    transition: opacity 0.3s ease;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
