@import "./../../scss/variables.scss";
@import "./../../scss/mixins.scss";

.points-list {
  @include mp-null;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  align-items: center;

  &_compact {
    flex-direction: row;
  }
}
