@import "./../../scss/variables.scss";
@import "./../../scss/mixins.scss";

.rule {
  @include mp-null;
  display: flex;
  width: 550px;
  padding: 20px;
  flex-direction: column;
  border-radius: 40px;
  background-color: $black;

  &__img {
    width: 170px;
    height: 170px;
  }

  &__title {
    @include mp-null;
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    margin: 20px 0;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    color: $white;
  }

  &__scroll-content {
    border-radius: 20px;
    width: 510px;
    height: 292px;
    background-color: $white;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
      border-radius: 20px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
      width: 4px;
      background-color: $gray;
      border-radius: 20px;
    }
  }

  &__text {
    font-family: $font-family;
    @include mp-null;
    font-style: normal;
    font-weight: 300;
    padding: 12px 12px 12px 25px;
    color: $main-black;
    font-size: 14px;
    line-height: 1.57;
  }
}
