@import "./../../scss/variables.scss";
@import "./../../scss/mixins.scss";

.security {
  font-family: $font-family;
  &__title {
    @include mp-null;
    max-width: 323px;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 42px;
  }
  &__board {
    @include mp-null;
    margin-top: 30px;
    list-style-type: none;
    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .input__text {
        display: none;
      }
    }
  }
  &__password-container,
  &__sessions-container,
  &__exit-container {
    width: 340px;
  }
  &__password-container {
    display: flex;
    align-items: center;
    gap: 68px;
  }
  &__feature-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  &__feature-description {
    @include mp-null;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
  }
  &__input {
    width: calc(100vw - 60px);
    max-width: 450px;
    height: 44px;
    padding: 22px 20px 4px 20px;
  }
}

@include mobile {
  .security {
    &__board-row {
      flex-direction: column;
      gap: 20px;
      margin-bottom: 40px;
    }
    &__password-container,
    &__sessions-container,
    &__exit-container {
      width: 100%;
      max-width: 450px;
    }
  }
}
