@import "./variables.scss";
// Миксины
//  -------------- BASIC -----------------
@mixin mp-null {
  margin: 0;
  padding: 0;
}

// -------------- CONTAINERS -----------------
@mixin main-box-centered {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@mixin flex-box-row {
  display: flex;
  gap: 20px;
}
@mixin flex-box-column {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

//  -------------- FONTS -----------------
@mixin text-font-normal {
  font-family: $font-family;
  color: $black;
  font-size: 20px;
  font-style: normal;
  line-height: 30px;
}

// для выпадающего списка и информации в блоке оплаты
@mixin text-font-select {
  font-family: $font-family;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
}
// для информации под импутами, текст с маленьким шрифтом.
@mixin text-info {
  font-family: $font-family;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}

// крупный шрифт заголовков
// Используется в макетах: List_of_cowrking_spaces, book PLAN, payment2
@mixin text-font-large {
  font-family: $font-family;
  color: $black;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

//  -------------- INPUT -----------------
@mixin error-input {
  border: 2px solid $alert-red;
  background: $alert-light-red;
  color: $alert-red;
  &:focus {
    border: 2px solid $alert-red;
    outline: none;
  }
}

//  ------------ BUTTON -----------------
@mixin button-with-image($image-path) {
  background-image: url($image-path);
  background-repeat: no-repeat;
  background-position: 30px 24px;
  background-size: 32px;
}

@mixin button-active {
  color: $green;
  background-color: black;
}
