@import "./variables.scss";
// Миксины
//  -------------- BASIC -----------------
@mixin mp-null {
  margin: 0;
  padding: 0;
}

//  -------------- FONTS -----------------
@mixin text-font-normal {
  font-family: $font-family;
  color: $black;
  font-size: 20px;
  font-style: normal;
  line-height: 30px;
}

// для выпадающего списка
@mixin text-font-select {
  font-family: $font-family;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
}

//  -------------- INPUT -----------------
@mixin error-input {
  border: 2px solid $alert-red;
  background: $alert-light-red;
  color: $alert-red;
  &:focus {
    border: 2px solid $alert-red;
    outline: none;
  }
}

//  ------------ BUTTON -----------------
@mixin button-with-image($image-path) {
  background-image: url($image-path);
  background-repeat: no-repeat;
  background-position: 30px 24px;
  background-size: 32px;
}

@mixin button-active {
  color: $green;
  background-color: black;
}
