// Цвета

$black: #0d0137;
$dark-gray: #6f6f6f;
$gray: #b3b3b3;
$light-gray: #dedede;
$main-light-grey: #efefef;
$main-white: #fdf8f1;
$main-black: #122023;
$white: #fff;
$alert-red: #f24e1e;
$alert-light-red: #fcdcd2;
$warning: #ffea30;
$green-success: #1fdf00;

// Шрифты
$font-family: "Onest", Arial , sans-serif;
