@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.entry-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: $font-family;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_reviews {
      align-items: start;
    }
    &_select {
      flex-direction: row;
      gap: 20px;
      padding-top: 32px;
      align-items: flex-start;
    }
    &_search {
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      align-items: flex-start;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    padding: 32px 0 0;
    margin: 0;
    border: none;
    div {
      align-self: flex-start;
    }
    &_reviews {
      align-items: start;
    }
    &_text {
      display: block;
      color: $black;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: 14px;
      min-height: 34px;
      padding: 5px 0 20px;
      align-self: end;
    }
    &_error {
      color: $alert-red;
    }
    &_payments {
      align-items: flex-start;
      text-align: center;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px; /* 150% */
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
    color: $black;
    text-align: center;
  }

  &__container {
    width: 100%;
    // max-width: 260px;
    box-sizing: border-box;
    text-align: center;
  }

  &__auth-link {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding-left: 6px;
    color: $black;
  }

  &__auth-text {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: $dark-gray;
    text-decoration: none;
    padding-top: 15px;
    margin: 0;
  }
  &__text_error {
    @include text-info;
    align-self: center;
    color: $alert-red;
    padding-top: 5px;
  }
  &__reviews {
    @include mp-null;
    display: flex;
    padding: 16px 12px 0px 20px;
    margin-top: 20px;
    border-radius: 28px;
    border: 2px solid $black;
    background: $white;
    resize: none;
    &:focus {
      border: 2px solid $green;
      outline: none;
    }
    &-error {
      @include error-input;
    }
  }

  &__search {
    position: relative;

    &-img {
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 17px;
      left: 15px;
      z-index: 1;
    }
  }
}

@include mobile {
  .entry-form__inner_select {
    padding-top: 28px;
    gap: 0;
  }

  .entry-form__search {
    flex: 1;
  }

  .entry-form__search-img {
    top: 11px;
    left: 13px;
  }
}
